* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

/*слайдер*/
.slider-box{
  width:100vw;
  height:100vh;
  	overflow: hidden;
	background-size: cover;
	background-position: center;
}
.slider{
  position: absolute;
  width:10000px;
  height:100vh;
  overflow: hidden;
}
.slider img{
  float:left;
  z-index:0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}
.slider-box .prev, .slider-box .next{
  position:absolute;
  top:45%;
  display:block;
  width:75px;
  height:150px;
}
.slider-box .prev{
  left:0;
  background:url(img/prev.png) no-repeat 0 0;
}
.prev:active {
  left:0;
  background:url(img/prev_active.png) no-repeat 0 0;
}
.slider-box .next{
  right:0;
  background:url(img/next.png) no-repeat 0;
}
.next:active{
  right:0;
  background:url(img/next_active.png) no-repeat 0;
}
.next {
	width: 130px;
	height: 130px;
	background-color: white
}

/*модальнеое окно*/
#modal_form {
	width: 300px;
	height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%;
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

.menu {
	font-size: 20pt;
	color: white;
	left: 50%;
	/*margin-top: 15px;*/
	position: absolute;
	top: 20px;
	z-index: 2;
}
.menu a {
  white-space: nowrap;
	color: black;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
}
.logo {
    position: absolute;
    left: 20%;
    z-index: 2;
    width: 150px;
    color: white;
    top: 20px;
    text-shadow: 1px 1px 3px #000000;
}
.first {
    font-size: 14pt;
}
.second {
    color: #ffea00;
    font-size: 32pt;
    font-family: 'Fira Sans', sans-serif;
}
.zakaz {
	width: 210px;
	height: 40px;
	background-color: white;
	border-radius: 20px;
	margin: 20px 55%;
	cursor: pointer;
}
.zakaz span {
	display: inline-block;
	color: #ffc023;
	font-size: 14pt;
	text-align: center;
	margin: 0 15%;
}

.container-box {
	text-decoration-color: black;
	width: 100%;
}
.container-box hr{
	left: 0;
	width: 65%;
}
.container {
	margin: 3% 35% 5% 15%;
	text-align: justify;
	line-height: 1.5;
}
.container-box .heading {
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 24px;
}
.contacts {
	background-color: #f5f5f5;
	float: right;
	width: 30%;
	height: 270px;
	top: 100vh;
	right: 0;
	position: absolute;
    margin: 0 0 20px 15px;
}
.contacts p {
	font-size: 14px;
	line-height: 1.5;
  margin-left: 5%;
  position: relative;
  display: block;
}
.contacts p:first-child {
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 24px;
}
hr{
	border: none;
    background-color: yellow;
    height: 4px;
}
.footerdown {
	height: 30px;
	width: 100%;
	text-align: center;
	color: black;
	margin: 20px auto;
  display: inline-block;
  position: relative;
	/*height: 7em;*/
}
.map {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 200px;
}
.container-box .container img {
	margin-right: 10px
}
html { overflow-x: hidden; }




@media screen and (max-width: 1055px) {
  .menu {
  font-size: 20pt;
  color: white;
  left: 40%;
  /*margin-top: 15px;*/
  position: absolute;
  z-index: 2;
  top: 30px;
}
  .zakaz {
  margin: 20px 55%;
}
}


@media screen and (max-width: 720px) {
  .slider-box {
		display: none;
	}
  .img-mob {
    width: 100vw;
    height: 260px;
    border: 1px;
    position: absolute;
    top: 0;
    background-image: url(img/maket1.jpg);
    background-size: cover;
  }
    .menu {
      left: 0;
      margin: 20px auto;
        font-size: 20pt;
        color: white;
        position:relative;
        z-index: 2;
        width: 100%;

    }
    .menu a {
      text-align: center;
        width:100%;
        display: inline-block;
        color: white;
        text-decoration: none;
        margin:0;
        text-shadow: 2px 2px 4px #000000;
    }
    .logo {
        text-align: center;
        left: 0;
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .first {
        font-size: 8pt;
        text-align: center;
    }
    .second {
        text-align: center;
        color: #ffea00;
        font-size: 20pt;
        font-family: 'Fira Sans', sans-serif;
    }
    .zakaz {
        text-align: center;
        display: block;
        margin: 15px auto;
        position: relative;
        /*margin: 20px 37%;*/
        width: 210px;
        height: 40px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid grey;
        /*margin: 20px 55%;*/
        cursor: pointer;
    }
    .zakaz span {
        /*display: inline-block;*/
        color: #ffc023;
        font-size: 14pt;
        text-align: center;
        /*margin: 0 15%;*/
    }
    .container-box {
        text-decoration-color: black;
        width: 100%;
        display: inline-block;
    }
    .container {
        margin: 3% 10% 5% 15%;
        text-align: justify;
        line-height: 1.5;
        position: relative;
    }
    .container-box hr{
        left: 0;
        width: 90%;
    }
    .container-box .heading {
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 24px;
    }
    .contacts {
        background-color: #f5f5f5;
        width: 100%;
        height: 150px;
        display: inline-block;
        position: static;
        margin-bottom: 5px;
    }
    .contacts p {
        font-size: 18px;
        line-height: 1.5;
        margin-left: 15%;
        display: block;
    }
    .contacts p:first-child {
        margin-bottom: 5px;
        margin-top: 10px;
        /*margin-bottom: 30px;*/
        font-size: 24px;
    }
    hr{
        border: none;
        background-color: yellow;
        height: 4px;
    }
}